small{
    color: orangered;
   
}
.red
{
    background-color: rgb(13, 179, 230);
    border: 2px solid black;
    border-radius: 15px;
    margin: 40px 50px 40px 50px;
    padding: 30px;
}
.hhh{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .kk{
     color: rgb(253, 10, 10);
 }
 div p{
     color: crimson;
     text-align:justify;
     font-family: Arial, Helvetica, sans-serif;
 }
